# my personal files to ignore
debugnotify.txt



# typical HA files to ignore
secrets.yaml
home-assistant.log
home-assistant_v2.db



# default things to ignore that I'm not sure if I need yet
*.db-journal
www
OZW_Log.txt
pyozw.sqlite
known_devices.yaml



# file extensions to ignore
*.pid
*.xml
*.csr
*.crt
*.key
*.conf



# directories to ignore
lib
deps
tts
custom_components/recipeFiles



# ignore anything that starts with a period
.*



# don't ignore the gitignore file
!/.gitignore